/* 공통 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  padding-top: 80px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: gray;
}

ul {
  list-style-type: none;
}

/* 헤더 */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  background-color: white;
  position: fixed;
  top: 0;
}

header ul {
  margin-top: 24px;
}

header ul li {
  display: inline-block;
  padding: 0 10px;
}

/* 푸터 */
footer {
  text-align: center;
  background-color: lightgray;
  padding: 30px 0px;
}

footer ul li {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  padding: 0 10px;
}

/* 모달 로딩 애니메이션 */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* 모달 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
}

.modal .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  text-align: center;
}

.modal label {
  font-size: 18px;
  padding: 10px 30px;
  border-radius: 10px;
  border: solid 1px black;
  background-color: #606ddd;
  color: white;
}

#modal-toggle:checked + .modal {
  visibility: visible;
  animation: fadeIn 0.3s forwards;
}

/* 비주얼 영역 */
#visual {
  text-align: center;
}

#visual p {
  margin-bottom: 50px;
}

/* 천안소개 영역 */
#introduce {
  margin-top: 50px;
  text-align: center;
}

#introduce a button {
  border: solid 1px black;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 10px;
  text-align: center;
}

#introduce img:hover {
  width: 41%;
  height: 550px;
}

/* 천안명소 영역 */
#attraction {
  text-align: center;
}

#attraction img {
  border: solid 4px black;
}

/* 지도 영역 */
#map {
  text-align: center;
}

.changeKm {
  font-size: 16px;
  text-align: center;
  background-color: lightblue;
  padding: 5px 10px;
  border-radius: 5px;
  border: solid 1px black;
}

#report {
  width: 100%;
  text-align: center;
}

.report_innerDiv {
  padding: 5px;
  width: 30%;
  display: inline-block;
}

#report .post {
  border: solid 1px black;
  border-radius: 5px;
  margin: 5px;
}

.post .title {
  font-size: 24px;
}

#report .category {
  font-size: 24px;
  border: solid 1px black;
  border-radius: 10px;
  padding: 5px 10px;
}

#report_1 button {
  background-color: lightblue;
}

#report_2 button {
  background-color: lightgreen;
}

#report_3 button {
  background-color: lightcoral;
}
